body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
  position: fixed;
  inset-inline: 0;
  top: 1rem;
}

#point {
  white-space: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  background: orange;
  transform: translate(-50%, -150%);
  font-size: 200%;
  border-radius: 0.25em;
  padding-inline: 0.35em;
  line-height: 1.5;
}
